# Torr9 credentials
TORR9_USER=your_username
TORR9_PASSWORD=your_password

# C411 credentials
C411_USER=your_username
C411_PASS=your_password

# GEMINI-TRACKER Api Token 
GEMINI_TOKEN=your_api_token

# Generation Free Api Token 
GFREE_TOKEN=your_api_token

# The Old School Api Token 
TOS_TOKEN=your_api_token

# TeamFlix Api Token
TEAMFLIX_TOKEN=your_api_token

# Tr4ker API Token
TR4KER_TOKEN=your_api_token

# Nostradamus Private key
NOSTRADAMUS_PRIVATE_KEY=your_privatekey

# CrazySpirits credentials (manually retrieved)
CRAZYSPIRITS_COOKIE='uid=xxx; pass=xxx'

# Lacale credentials 
LACALE_USER=your_username
LACALE_PASS=your_password

# Torrentleech credentials
TL_USER=your_username
TL_PASS=your_password

# Redacted API key
RED_APIKEY=your_privatekey

# HD-Space cookies
HDSPACE_COOKIE='uid=xxx; pass=xxx'

# SeedCore API Token
SEEDCORE_TOKEN=your_api_token

# SeedPool API Token
SEEDPOOL_TOKEN=your_api_token

# SkipTheCommercials API Token
SKIPTHECOMMERCIALS_TOKEN=your_api_token

# TorrentAvenue API Token
TORRENTAVENUE_TOKEN=your_api_token

# RetroMoviesClub API Token
RETROMOVIESCLUB_TOKEN=your_api_token

# InfinityHD API Token
INFINITYHD_TOKEN=your_api_token

# ItaTorrents API Token
ITATORRENTS_TOKEN=your_api_token

# ImmortalSeed credentials
IMMORTALSEED_USER=your_username
IMMORTALSEED_PASS=your_password

# FileList.io credentials
FILELIST_USER=your_username
FILELIST_PASS=your_password

# YUSCENE API Token
YUSCENE_TOKEN=your_api_token

# DigitalCore credentials
DIGITALCORE_USER=your_username
DIGITALCORE_PASS=your_password

# CZTeam credentials
CZTEAM_USER=your_username
CZTEAM_PASS=your_password

# RetroToon credentials
RETROTOON_USER=your_username
RETROTOON_PASS=your_password

# Memphis credentials
MEMPHIS_USER=your_username
MEMPHIS_PASS=your_password

# Milkie credentials
MILKIE_USER=your_username
MILKIE_PASS=your_password

# YggReborn credentials (login = email)
YGGREBORN_USER=your_email
YGGREBORN_PASS=your_password
